<?xml version="1.0"?>
<!--<configuration>
  <system.serviceModel>
    <services>
      <service name="Servi.Services.Service1" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Interface.IService1"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>


</configuration>-->




<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
   
    <services>
      
      <service name="Servi.Services.admin" behaviorConfiguration="mybs">
        <host >
          <baseAddresses >
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/" />
          </baseAddresses>
        </host>
        <endpoint address="/sp1" binding="webHttpBinding" contract="Interface.Iadmin" behaviorConfiguration="myb" bindingConfiguration="Saurabh">
     
          
         
        </endpoint>

       
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
       
      </service>
     
      <!--=============================================================-->
      <service name="Servi.Services.Service1" behaviorConfiguration="mybs">
        <host ><baseAddresses ><add baseAddress="http://localhost:8733/Design_Time_Addresses/" /></baseAddresses></host>
        <endpoint address="/sp" binding="webHttpBinding" contract="Interface.IService1" behaviorConfiguration="myb" bindingConfiguration="Saurabh">
  
      
        </endpoint>
        


        <endpoint address="mexw" binding="mexHttpBinding" contract="IMetadataExchange" />

      </service>
    
    <!--=========================================-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mybs">

          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="myb">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="Saurabh" crossDomainScriptAccessEnabled="true"></binding>
      </webHttpBinding>
    </bindings>

  </system.serviceModel>

  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true"/>
  
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>

